
@{
    ViewBag.Title = "Διαχείριση Αιτήσεων NEE";

}

<h2 class="page-header">@ViewBag.Title</h2>
<br />
<div class="alert alert-info" role="alert">

    <strong>Προσοχή:</strong> οι αναζητήσεις βάσει ΑΜΚΑ και ΑΦΜ καταγράφονται. Επιτρέπεται να κάνετε αναζητήσεις προσώπων, μόνο εφόσον αιτούνται επίδομα NEE
</div>
@*@Html.ActionLink("Αναζήτηση", "Search", "Admin", null, new { @class = "btn btn-primary" })*@






