@* ========== Loading Progress Indicator ========== *@
<div class="idika-loading-container idika-loading">
	<div class="idika-loading-backdrop"></div>
	<div class="idika-loading-overlay">
		<div class="idika-loading-overlay-content">
			<img src="~/Content/images/loaders/loader4.gif" width="64" />
			@*<h2>Παρακαλώ Περιμένετε...</h2>*@
		</div>
	</div>
</div>