<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="version" value="1" />
	<add key="AppInsightsInstrumentationKey" value="be23503e-6b62-4a0d-b366-0ad35f92cba9"/>
	<add key="AppInsightsEnvironmentTag" value="Debug"/>

	<add key="webpages:Version" value="3.0.0.0"/>
	<add key="webpages:Enabled" value="false"/>
	<add key="ClientValidationEnabled" value="false"/>
	<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	<add key="ApplicationForPublic" value="true"/>
	<!-- το έκανα false  07/09/21  ,  ηταν false 05/08/2021-->
	<add key="EnableAuditing" value="true"/>
	<add key="ApplicationShowDebugPage" value="true"/>
	<add key="NewApplicationsClosed" value="false"/>
	<add key="vs:EnableBrowserLink" value="false"/>
	<add key="EnableDbLogging" value="true"/>

	<!--<add key="serilog:error-log-pathFormat" value="C:\Logs\sd-web-errorLog-{Date}.txt" />-->


	<!--<add key="serilog:logBackup-pathFormat" value="C:\Logs\sd-web-logBackup-{Date}.txt" />

  <add key="serilog:minimum-level" value="Verbose" />
  <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Logs\sd-web-log-{Date}.txt" />
  <add key="serilog:write-to:RollingFile.fileSizeLimitBytes" value="" />-->


	<!--
  Setting "opeka:force-https" to true will force emailing (account-confirmation, remember-password, etc)
  to force use https instead of http.
  NOTE: Use only on Idika Servers (Dev/Sta/...) that are behind the https load-balancer.
        Don't use it local-development with Visual Studio (it will not work!)
  -->
	<!--<add key="opeka:force-https" value="false" />-->


	<!-- IDIKA Files Service Config -->
	<add key="FilesService:BaseUrl" value="http://applsrv10:7780/IdikaFileService/" />
	<add key="FilesService:Username" value="opeka_family" />
	<add key="FilesService:Password" value="umuxoy71" />

	<add key="NEE:GetFile:FileServiceApiUser" value="opeka_family" />
	<add key="NEE:GetFile:FileServiceApiUserPass" value="umuxoy71" />

	<!--Server-->
	<!--<add key="GsisAuthClientId" value="L1JEY681215"/>
	<add key="GsisAuthClientSecret" value="Rsbg$43#29kpq"/>
	<add key="GsisAuthUseProduction" value="true"/>
	<add key="GsisAuthHttpSchema" value="https"/>-->



	<!-- εβγαλα απο σχόλια αυτό   07/09/21    ,  βάζω σε  σχόλια το LOCAL   05/08/2021-->
	<!--Local-->
	<add key="GsisAuthClientId" value="LDZP0716139"/>
	<add key="GsisAuthClientSecret" value="Lgtask#16$39ytr"/>
	<add key="GsisAuthUseProduction" value="true"/>
	<add key="GsisAuthHttpSchema" value="https"/>


</appSettings>
