<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>

	<add name="NEEDataConnection"
		 providerName="Oracle.ManagedDataAccess.Client"
		 connectionString="Data Source=amka-test:1521/amkaedu2;User Id=NEE;Password=nee_test;"
       />

	<!-- GmiUsersConnection (AspNet* Tables) -->
	<add name="GmiUsersConnection"
		 providerName="Oracle.ManagedDataAccess.Client"
		 connectionString="Data Source=idikadb-scan.idika.gr:1521/IDIKA_ONLINE;User Id=GMI_PROD;Password=gmi;"
       />

</connectionStrings>
