<?xml version="1.0"?>

<!-- Mail Settings for Pickup-Directory -->
<!--
<smtp deliveryMethod="SpecifiedPickupDirectory" from="KOT Registration Services &lt;sd-services@idika.gr&gt;">
  <specifiedPickupDirectory pickupDirectoryLocation="C:\EMail-PickupDirectory\KOT" />
</smtp>
-->

<!-- Mail Settings for IDIKA SMTP -->
<smtp deliveryMethod="Network" from="KOT Registration Services &lt;sd-services@idika.gr&gt;">
	<network host="mail.idika.gr" port="25" userName="IDIKA\sd-services@idika.gr" password="sd-123" defaultCredentials="false" enableSsl="false"/>
</smtp>
