<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="citizenRegistryInterfaceSoapBinding">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://gsis.ggps.interoperability/CitizenRegistryInterface':    -->
          <!--    <wsdl:binding name='citizenRegistryInterfaceSoapBinding'>    -->
          <!--        <sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">..</sp:SupportingTokens>    -->
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://www1.gsis.gr/esb/citizenRegistryService" binding="customBinding" bindingConfiguration="citizenRegistryInterfaceSoapBinding" contract="CitizerRegistryServiceReference.citizenRegistry" name="citizenRegistryPort" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>