<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="version" value="1" />
	<add key="AppInsightsInstrumentationKey" value="be23503e-6b62-4a0d-b366-0ad35f92cba9"/>
	<add key="AppInsightsEnvironmentTag" value="Release"/>

	<add key="webpages:Version" value="3.0.0.0"/>
	<add key="webpages:Enabled" value="false"/>
	<add key="ClientValidationEnabled" value="true"/>
	<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	<add key="ApplicationForPublic" value="false"/>
	<add key="EnableAuditing" value="true"/>
	<add key="ApplicationShowDebugPage" value="false"/>
	<add key="NewApplicationsClosed" value="false"/>
	<add key="vs:EnableBrowserLink" value="false"/>
	<add key="EnableDbLogging" value="false"/>

	<!-- IDIKA Files Service Config -->
	<add key="FilesService:BaseUrl" value="http://applsrv10:7780/IdikaFileService/" />
	<add key="FilesService:Username" value="nee" />
	<add key="FilesService:Password" value="CUDvmkEP" />

	<add key="NEE:GetFile:FileServiceApiUser" value="nee" />
	<add key="NEE:GetFile:FileServiceApiUserPass" value="CUDvmkEP" />

</appSettings>
