@{
    ViewBag.Title = "Σχετικά";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@

<h3>Σχετικά με το Επίδομα Κοινωνικής Αλληλεγγύης Ανασφάλιστων Υπερηλίκων σε μέλη της ελληνικής μειονότητας της Αλβανίας</h3>
<br />
<div style="text-align:center">


    @*<p>Σχεδίαση και ανάπτυξη λογισμικού : Η.ΔΙ.Κ.Α. Α.Ε. &copy; @DateTime.Now.Year.ToString() </p>
        <p>Τμήμα Ανάπτυξης Εφαρμογών</p>
        <p>* Με την πολύτιμη συνεργασία της <a href="https://www.aade.gr/" target="_blank">Α.Α.Δ.Ε.</a></p>
        <br />
        <br />
        <div class="row" text-center">
            <div class="col-md-2 col-xs-2">
            </div>
            <div class="col-md-8 col-xs8">
                <div class="alert alert-info" role="alert">
                    <p><b>Υποστηριζόμενοι browsers:</b></p>
                    <p>Desktop:  Internet Explorer 9+ και πρόσφατες εκδόσεις των Microsoft Edge, Safari, Firefox, Google Chrome, Opera</p>
                    <p>Mobile: Android 4.3+, iOS, Windows Phone 10, Chrome for Mobile</p>
                </div>
            </div>
            <div class="col-md-2 col-xs-2">
            </div>
        </div>
        <br />
        <img src="~/Content/images/acg.png" />*@
</div>

@*<div class="row" text-center">
    <div class="col-md-6">
        <p>Σχεδίαση και ανάπτυξη λογισμικού : <a href="https//www.idika.gr/" target="_blank">Η.ΔΙ.Κ.Α. Α.Ε.</a> &copy; @DateTime.Now.Year.ToString() </p>
        <p>Τμήμα Ανάπτυξης Εφαρμογών</p>
        <p>* Με τη συμβολή και συνεργασία της <a href="https://www.aade.gr/" target="_blank">Α.Α.Δ.Ε.</a> η οποία παρέχει τα απαραίτητα στοιχεία σε πραγματικό χρόνο.</p>
        <br />
        <br />
        <a href="http://www.idika.gr" target="_blank"><img src="~/Content/images/r_idika.png" /></a>
        <a href="https://www.aade.gr" target="_blank"><img src="~/Content/images/r_aade.png" /></a>
        <br />
        <br />
        <div class="alert alert-info" role="alert">
            <p><b>Υποστηριζόμενοι browsers:</b></p>
            <hr />
            <p>Desktop:  Internet Explorer 9+ και πρόσφατες εκδόσεις των Microsoft Edge, Safari, Firefox, Google Chrome, Opera</p>
            <p>Mobile: Android 4.3+, iOS, Windows Phone 10, Chrome for Mobile</p>
        </div>
    </div>
    <br />
    <br />
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
        <img src="~/Content/images/acg.png" />
    </div>
    <div class="col-md-1">
    </div>
</div>*@