@{
    /**/

    ViewBag.Title = "Συχνές Ερωτήσεις και Απαντήσεις (FAQ)";
}
<h2>@ViewBag.Title</h2>
<br />

<span class="fa fa-file-pdf-o" style="color:red"></span><a href="~/Content/Documents/pub/NEE_FAQ_P01.pdf" download> Συχνές Ερωτήσεις Απαντήσεις</a>