<?xml version="1.0" encoding="utf-8"?>
<configuration>
<config>
		<!-- Proxy settings -->
        <!-- add key="http_proxy" value="127.0.0.1:3128" / -->
</config>
  <packageSources>
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="ATLAS" value="http://atlas.idika.gr/IdikaNugetServer/nuget" />
    <add key="Idika-Release" value="https://idika.pkgs.visualstudio.com/_packaging/Idika-Release/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="Idika-Release" value="true" />
  </disabledPackageSources>
</configuration>

